.dummy { }

.users > .users-header {
  position: absolute;
  right:-5px;
  left: 5px;
  top: 0px;
  height: 22px;
  float: left;
  background: #2a6ebb;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.users > .users-header > .users-heading {
  text-align: left;
  position: absolute;
  font-weight: bold;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  color: #fff;
  margin: 3px;
}

.users > .users-header .triangle {
  top: 17px; 
}

.users > .users-header > .triangle-r {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px;
  height: 0px;
  width: 0px;
  z-index: -1; /* displayed under bubble */
  position: absolute;
  right: -5px; /* -border-width */
}

.users > .search-users {
  position: relative;
  font-weight: bold;
  top: 22px;
  right: 2px;
  left: 2px;
  bottom: 0px;
  color: #fff;
  margin: 3px;
}

.users > .search-users > input {
  width: 100%;
  border: 1px solid #d0d0d0;
  background: url(../images/search.png) #ffffff no-repeat 3px 3px;
  padding: 3px 3px 3px 21px;
}

.users > .users-body {
  position: relative;
  top: 17px;
  left: 0px;
  right: 0px; 
  bottom: 0px;
  text-align: left;
  margin-left: 5px;
}

.users > .users-body > .users-scroll-area {
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
}