.menu-content {
	display: none;
	position: absolute;
	right: 0px;
	z-index: 10;
	background: #fff;
  border: 1px solid hsla(0,0%,0%,.5);
	border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	text-align: left;
	min-width: 150px;
	margin-right: 5px;
}

.menu-content.below {
  top: 100%;
}

.menu-content.above {
  bottom: 30px;
}

.menu-content.below:before, .menu-content.below:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: hsla(0,0%,0%,.5);
  border-width: 7px;
  right: 3px;
}

.menu-content.above:before, .menu-content.above:after {
  top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: hsla(0,0%,0%,.5);
	border-width: 7px;
	right: 3px;
}

.menu-content:focus {
  outline: none;
}

.menu-header {
	background: #4E78A0;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: hsl(0,0%,85%);
	font-weight: bold;
}