.search-wrapper {
	background: url('../images/search.png') #ffffff no-repeat 5px 5px;
	padding: 3px 3px 3px 25px;
	border: 1px solid #d0d0d0;
	margin: 0px;
	width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

.search-wrapper.focused {
  outline: rgb(77, 144, 254) auto 5px;
}

.tags-wrapper {
	float: left;
	position: relative;
	line-height: 18px;
}

.hidden-tags-toggle {
	cursor: pointer;
	background-color: rgba(73,129,206, 0.3);
	display: inline-block;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
  line-height: 1;
  border-radius: .25em;
  font-weight: 700;
  color: #fff;
}

.hidden-tags {
	position: absolute;
	z-index: 500;
	border: 1px solid #aaa;
	background: #fff;
	left: -2px;
	margin: 1px 0px;
	padding: 1px;
	width: 100%;
}

.input-wrapper {
  overflow: hidden;
  height: 100%;
}

.search-input {
	width: 100%;
	height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
	border: none;
	font-size: 16px;
	margin: 0px;
}

.search-input:focus {
	-webkit-appearance: none;
	outline: none;
}