.share-element {
	position: relative;
}

.share-body {
	cursor: pointer;
}

.share-info {
	background: url('../images/share.png') no-repeat center bottom;
	background-size: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
}

.share-info.restricted {
  background: url('../images/share2.png') no-repeat center bottom;
  background-size: 20px;
}

.share-number {
	font-weight: bold;
	position: absolute;
	left: 5px;
	top: 1px;
	font-size: 11px;
}

.share-details, .share-with-details, .participants-details, .invitees-details, .disinvitees-details {
	position: absolute;
	background: #fff;
	z-index: 500;
	right: 0px;
  border: 1px solid hsla(0,0%,0%,.5);
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.share-details {
  margin: 5px 0px 5px 0px;
	position: absolute;
	min-width: 150px;
}

.share-details.above {
  bottom: 100%;
}

.share-details.below {
  top: 100%;
}

.users, .participants-details, .invitees-details, .disinvitees-details {
  max-height: 200px;
  overflow: auto;	
}

.share-details:before {
	position: absolute;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
	border-width: 7px;
	right: 4px;
}

.share-details.above:before {
	border-top-color: hsla(0,0%,0%,.5);
  top: 100%;
}

.share-details.below:before {
	border-bottom-color: hsla(0,0%,0%,.5);
  bottom: 100%;
}

.share-details:focus {
  outline: none;
}

.share-details-header {
	background: #4E78A0;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: hsl(0,0%,85%);
	font-weight: bold;
	text-align: left;
}

.share-details-body {
  text-align: left;
}

.share-details-body > *, .user, .participant, .invitee, .disinvitee {
	padding: 7px 12px;
	cursor: pointer;
	border-bottom: 1px solid hsla(0,0%,0%,.1);
}

.user {
	padding: 5px 2px;
	white-space: nowrap;
}

.share-details-body > *:hover, .share-details-body > *:focus,
.users > *:hover, .users > *:focus,
.participants > *:hover, .participants > *:focus,
.disinvitees > *:hover, .disinvitees > *:focus,
.invitees > *:hover, .disinvitees > *:focus {
  background-color: #f5f5f5;
}

.share-with, .participants-info, .invitees-info, .disinvitees-info { 
  position: relative;
}

.share-with .caret,
.participants-info .caret, 
.invitees-info .caret, 
.disinvitees-info .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-right: 4px solid #000;
	border-bottom: 4px solid transparent;
	position: absolute;
	left: 2px;
	top: 50%;
	margin-top: -4px;
}

.share-with-details, .participants-details, .invitees-details, .disinvitees-details { 
	position: absolute;
	right: 100%;
	top: 0px;
	background: #fff;
	min-width: 175px;
	max-width: 200px;
}

.user
.participant,
.invitee,
.disinvitee {
  position: relative;
}

.user .name,
.participant .name,
.invitee .name,
.disinvitee .name {
  padding: 0px 15px 0px 0px;
}

.participant .remove,
.invitee .remove,
.disinvitee .remove {
  position: absolute;
  top: 7px;
  right: 0px;
}

.participant:hover > .remove:after,
.invitee:hover > .remove:after,
.disinvitee:hover > .remove:after {
  content: "x";
  padding: 0px 0px 0px 4px;
  font-weight: 500;
  cursor: pointer;
  margin: 3px 4px 0px 0px;
}
