.tag {
  position: relative;
  display: inline-block;
  padding: 3px 5px 3px 5px;
  line-height: 1;
  border-radius: .25em;
  background-color: #4E78A0;
  color: #ffffff;
  font-size: 12px;
}

.tag > .tag-title {
  margin: 0 10px 0 0;
}

.tag:hover > .remove-tag:after {
  content: "x";
  padding: 0px 0px 0px 4px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 3px 4px 0px 0px;
}