.dummy { }

.user {
  position: relative;
  border-bottom: 1px solid #31708f;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10pt;
}

.user.selected {
  background-color: #B9D3EE;
  font-weight: bold;
}

.user.over {
  background-color: #de3831;
}

.user > .user-dropmask {
  position: absolute;
  top: 0px; 
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 99;
  display: none;
}

.user > .user-body > .disinvite-button {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 0px;
  margin: -8px 0 0;
  padding: 0;
  height: 16px;
  width: 16px;
  line-height: 16px;
  font-weight: 700;
  font-size: 19px;
  opacity: 0;
  cursor: pointer;
}

.user:hover > .user-body > .disinvite-button {
  opacity: .7;
}