.dummy { }

.feed {
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: white;
  height: 100%
}

.feed:before {
  content: '';
  float: left;
  height: 100%;
}

.feed > .triangle-l {
  position: relative;
  top: 5px;
  left: -10px;
  height: 0px;
  width: 0px;
  border-color: transparent #7D90A3 transparent transparent;
  border-style: solid;
  border-width: 5px;
  z-index: -1;
}

.feed > .feed-header {
  position: relative;
  top: 10px;
  left: -5px;
  width: 100%;
  background: #B9D3EE;
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.feed > .feed-body {
  margin-top: 10px;
}

.feed > .feed-body > .new-feed {
  text-align: right;
  position: relative;
  height: 125px;
}

.feed > .feed-body > .new-feed > .new-feed-textarea-wrapper {
  position: absolute;
  top: 0px;
  bottom: 25px;
  left: 0px;
  right: 0px;
  margin: 3px;
}

.feed > .feed-body > .new-feed > .new-feed-textarea-wrapper > .new-feed-textarea {
  border: 1px solid #D0D0D0;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  margin: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.feed > .feed-body > .new-feed > .new-feed-button {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  margin-right: 3px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.feed > .feed-body > .new-feed > .new-feed-button:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

.feed > .feed-body > .new-feed > .new-feed-button:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

.feed > .feed-body > .feed-payload > .filter-feed {  
  font-size: 10pt;
  margin: 3px;
}

.feed > .feed-body > .feed-payload > .sort-feed {  
  font-size: 10pt;
  margin: 3px;
}

.feed > .feed-body > .feed-payload > .sort-feed > .sort-field {
  color: blue;
  cursor: pointer;
}

.feed > .feed-body > .feed-payload > .sort-feed > .sort-field.asc, 
.feed > .feed-body > .feed-payload > .sort-feed > .sort-field.desc {
  font-weight: bold;
}

.feed > .feed-body > .feed-payload > .sort-feed > .sort-field.asc:before {
  content: "\25BE";
}

.feed > .feed-body > .feed-payload > .sort-feed > .sort-field.desc:before {
  content: "\25B4";
}


.feed > .feed-body > .feed-payload > .feed-entries {  
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  position: relative;
}

.feed > .feed-body > .feed-payload > .feed-entries:after { 
  content:'';
  display: block;
  clear: both;
}

.feed > .feed-body > .feed-payload > .feed-entries > .scroll-area {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: auto;
}


.feed > .feed-body > .feed-payload > .feed-entries > .scroll-area > .empty-list {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  margin: 10px;
  color: #aaa;
  font-size: 10pt;
}
