.dummy { }

.welcome > .logo {
  background: url(../images/logo_50.png) transparent no-repeat center center;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100px;
}

.welcome > .login {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 120px;
  height: 50px;
  text-align: center;
}

.welcome > .login > .login-google {
  background: url(../images/login-google.png) transparent no-repeat center center;
  width: 180px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.welcome > .columns {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 200px;
  bottom: 0px;
  padding: 0px;
}

.welcome > .columns > .left-column {
  position: absolute;
  left: 0px;
  right: 50%;
  top: 0px;
  bottom: 0px;
}

.welcome > .columns > .right-column {
  position: absolute;
  left: 50%;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.welcome .features {
  position: relative;
}

.welcome .features > .header {
  background: url(../images/features_small.png) transparent no-repeat left center;
  position: relative; 
  height: 50px;
}

.welcome .features > .body {
  position: relative;
}

.welcome .features > .body ul {
  margin: 0;
}

/*.welcome .features > .body li.one:before {
  content: url(images/one_small.png) transparent no-repeat center center;
  margin-right: 10px;
}

.welcome .features > .body li.two:before {
  content: url(images/two_small.png) transparent no-repeat center center;
  margin-right: 10px;
}

.welcome  .features > .body li.three:before {
  content: url(images/three_small.png) transparent no-repeat center center;
  margin-right: 10px;
}

.welcome .features > .body li.four:before {
  content: url(images/four_small.png) transparent no-repeat center center;
  margin-right: 10px;
}

.welcome .features > .body li.five:before {
  content: url(images/five_small.png) transparent no-repeat center center;
  margin-right: 10px;
}

.welcome .features > .body li.six:before {
  content: url(images/six_small.png) transparent no-repeat center center;
  margin-right: 10px;
}*/

.welcome .infos {
  position: relative;
  margin-bottom: 10px;
}

.welcome .infos > .header {
  background: url(../images/information_small.png) transparent no-repeat left center;
  position: relative; 
  height: 50px;
}

.welcome .infos > .body {
  position: relative;
}

.welcome .contact {
  position: relative;
}

.welcome .contact > .header {
  background: url(../images/contact_small.png) transparent no-repeat left center;
  position: relative; 
  height: 50px;
}

.welcome .contact > .body {
  position: relative;
}