<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="navigation_view.html">
<link rel="import" href="main_view.html">
<link rel="import" href="header_view.html">
  
<polymer-element name="app-view">
  <template class="root">
    <link rel="stylesheet" href="app_view.css">
    <!-- <link rel="stylesheet" href="views/app_view.css"> -->
    <template if="{{ revealed }}">
      <div class="app">
        <!-- The header view --> 
        <header-view class="header-view"></header-view>
          
        <!-- The navigation view
        <navigation-view 
          class="navigation-view" 
          on-notification="{{ onNotification }}"
          on-files-upload="{{ onFilesUpload }}"
          on-url-upload="{{ onUrlUpload }}"  
          on-entry-selected="{{ onHistoryEntrySelected }}"
          on-topics-selected="{{ onTopicsSelected }}">
        </navigation-view>-->
         
        <!-- The main view  -->
        <main-view 
          class="{{ {'main-view': user != null} }}" 
          on-notification="{{ onNotificationEvent }}"
          on-entry-selected="{{ onLibraryEntrySelected }}"
          on-stage-toggle="{{ onStageToggle }}"
          on-prev-entry-request="{{ onPreviousEntryRequest }}"
          on-next-entry-request="{{ onNextEntryRequest }}"
          on-scroll-history-start="{{ onScrollHistoryStartRequest }}"
          on-scroll-history-end="{{ onScrollHistoryEndRequest }}"
          on-fullscreen-toggle-request="{{ onFullscreenToggleRequest }}">
          <!-- on-logout-request="{{ onLogoutRequest }}"> -->
        </main-view>
        
        <!-- The welcome view  -->    
        <welcome-view 
          class="{{ {'welcome-view': user == null} }}"
          on-google-login-button-clicked="{{ onGoogleLoginButtonClicked }}">
        </welcome-view> 
        
        <div class="history-window" style="display:none"></div>
      </div>
    </template>
  </template>
  <script type="application/dart" src="app_view.dart"></script>
</polymer-element>