.dummy { }

.main {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.main > .stage-view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  bottom: 0px;
  /*margin: 0px 5px 5px 5px;*/
  /*border: 1px solid #aaa;*/
}

.main > .display-view {
  position: absolute;
  top: -32px;
  left: 400px;
  right: 0px;
  bottom: 0px;
}

.main > .welcome-view {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-left: 25px;
}