<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="../elements/upload_element.html">
<link rel="import" href="../elements/topics_element.html">
<link rel="import" href="../elements/users_element.html">
<link rel="import" href="../elements/history_element.html">

<polymer-element name="navigation-view">
  <template>
    <link rel="stylesheet" href="navigation_view.css">
    <!-- <link rel="stylesheet" href="views/navigation_view.css"> -->
    <template if="{{ revealed }}">      
      <div class="navigation">
        <!-- The logo -->
        <div class="logo"></div>
        <!-- The upload -->
        <upload-element class="upload-element"></upload-element>
        <!-- The topics -->
        <topics-element class="topics-element"></topics-element>
        <!-- The users -->
        <users-element class="users-element"></users-element>
        <!-- The history -->  
        <history-element class="history-element"></history-element>   
        <!-- The revision number -->
        <div class="revision">Revision: {{ revision }}</div>     
      </div>
    </template>   
  </template>
  <script type="application/dart" src="navigation_view.dart"></script>
</polymer-element>
