<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="../elements/input_element.html">
<link rel="import" href="../elements/upload_element.html">
<link rel="import" href="library_view.html">
<link rel="import" href="references_view.html">
<link rel="import" href="feed_view.html">

<polymer-element name="stage-view">
  <template>
    <link rel="stylesheet" href="stage_view.css">    
    <!-- <link rel="stylesheet" href="views/stage_view.css"> -->
    <div class="stage">
      <!-- The header -->
      <div class="stage-header">
        <!-- Tabs area -->
        <!-- <ul class="tabs">
          <li class="library-tab {{ libraryTabClasses }}">
            <span class="display" on-click="{{ onLibraryTabClicked }}">
              Library
              <template if="{{ libraryActivityCounter > 0 }}">
                <span class="activity-count">{{ libraryActivityCounter }}</span>
              </template>
            </span>
          </li>
          <li class="references-tab {{ referencesTabClasses }}">
            <span on-click="{{ onReferencesTabClicked }}">
              References
            </span>
          </li>
          <li class="feed-tab {{ feedsTabClasses }}">
            <span on-click="{{ onFeedTabClicked }}">
              Feed
            </span>
          </li>
        </ul>-->
          
        <upload-element class="upload-element"
          on-files-upload="{{ onFilesUpload }}"
          on-url-upload="{{ onUrlUpload }}">
        </upload-element>
                  
        <!-- Search area -->
        <div class="search-stage">
          <input 
            class="search-input"
            is="input-element"
            type="search"
            placeholder="Search entries..."
            value="{{ searchQuery }}"
            on-value-updated="{{ onSearchQueryTyped }}"
            on-cancel="{{ onSearchCancelled }}">
        </div>
      </div>
            
      <!-- The body -->
      <div class="stage-body">
        <!-- The library view -->
        <library-view class="library-view"
          on-feed-selected="{{ onFeedViewSelected }}"
          on-download-request="{{ onDownloadRequest }}"
          on-entry-deleted="{{ onLibraryEntryDeleted }}">
        </library-view>
        <!-- The references view -->
        <!-- <references-view class="references-view"
          on-download-request="{{ onDownloadRequest }}"
          on-feed-selected="{{ onFeedViewSelected }}">
        </references-view> -->
        <!-- The feed view -->
        <!-- <feed-view class="feed-view"
          on-download-request="{{ onDownloadRequest }}"
          on-feed-selected="{{ onFeedViewSelected }}">
        </feed-view> -->
      </div>
    </div>
  </template>
  <script type="application/dart" src="stage_view.dart"></script>
</polymer-element>
