.dummy { }

.topic {
  position: relative;
  border-bottom: 1px solid #31708f;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: transparent;
}

.topic.selected {
  font-weight: bold;
}

.topic.over {  
  background-color: #d9534f;
}

.topic > .topic-dropmask {
  position: absolute;
  top: 0px; 
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 99;
  display: none;
}

.topic > .topic-body > .drag-toggle {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0px;
  width: 5px;
  background: url(images/pixel.png) repeat;
  cursor: url(images/openhand.cur) 8 8, move;
  opacity: 0;
}

.topic:hover > .topic-body > .drag-toggle {
  opacity: 1;
}

.topic.dragging {
  background: #ffc;
}

.topic.dragging .drag-toggle {
  cursor: url(images/closedhand.cur) 8 8, move;
}

.topic > .topic-body > .new-topic-input {
  position: relative;
  left: 5px;
  width: 90px;
}

.topic > .topic-body > .checkbox {
  position: absolute;
  left: 6px;
  top: 9px;
  margin: 0px;
  border: 1px solid blue;
}

.topic > .topic-body > .title {
  margin-left: 22px;
}

.topic > .topic-body > .share-infos {
  margin-left: 6px;
  font-size: 8pt;
}

.topic > .topic-body > .share-infos > .share-status {
  color: #428bca;
  cursor: pointer;
}

.topic > .topic-body > .share-infos > .share-status > .caret {
  position: relative;
  top: 7pt;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 3px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

.topic > .topic-body > .share-infos > .share-details {
  position: absolute;
  top: 90%;
  left: 3px;
  right: 3px;
  z-index: 5;
  border: 1px solid #aaa;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.55);
}

.topic > .topic-body > .share-infos > .share-details > .share-details-close-button {
  background: none;
  border: none;
  position: absolute;
  top: 8px;
  right: 0px;
  margin: -8px 0 0;
  padding: 0;
  height: 16px;
  width: 16px;
  line-height: 16px;
  font-weight: 700;
  font-size: 19px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 2;
}

.topic > .delete-button {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  margin: -8px 0 0;
  padding: 0;
  height: 16px;
  width: 16px;
  line-height: 16px;
  right: 0px;
  font-weight: 700;
  font-size: 19px;
  opacity: 0;
}

.topic:hover .delete-button {
  opacity: .7;
  cursor: pointer;
}

.topic .delete-button:hover {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.topic .delete-button:active {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}