.dummy { }

.upload {
  position: absolute;
  right:-5px;
  left: 5px;
  top: 0px;
  height: 33px;
  float: left;
  background: #428bca;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.upload > .upload-dropmask {
  position: absolute;
  top: 0px; 
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 99;
  background: #d9534f;
  opacity: 0.5;
  display: none;
  border: 2px dashed red;
}

.upload > .upload-body > .uploader-wrapper > .upload-input {
  /* Note: display:none on the input won't trigger the click event in WebKit.
    Setting visibility: hidden and height/width:0 works great. */
  visibility: hidden;
  width: 0;
  height: 0;
}

.upload > .upload-body > .upload-buttons {
  position: absolute;
  top: 5px;
  left: 20px;
}

.upload > .upload-body > .upload-buttons > .button {
  position: relative;
  float: left;
  margin: 0px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  border-color: #63a62f;
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 5px 3px 5px 3px;
  text-shadow: 0 -1px 0 #4c9021;
}

.upload > .upload-body > .upload-buttons > .upload-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.upload > .upload-body > .upload-buttons > .dropdown-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.upload > .upload-body > .upload-buttons > .dropdown-button > .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.upload > .upload-body > .upload-buttons > .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 250px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #7fbf4d;
  border: 1px solid #3c763d;
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}

.upload > .upload-body > .upload-buttons > .dropdown > .dropdown-input {
  width: 200px;
  border: 1px solid #aaa;
  margin-top: 5px;
}

.upload > .upload-body > .upload-buttons > .dropdown > .dropdown-header {
  font-size: 10pt;
  color: #3c763d;
}

.upload > .upload-body > .upload-buttons > .dropdown > .dropdown-close-button {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  margin: -8px 0 0;
  padding: 0;
  height: 16px;
  width: 16px;
  line-height: 16px;
  right: 5px;
  font-weight: 700;
  font-size: 19px;
  opacity: 0.7;
  cursor: pointer;
}

.upload > .triangle {
  top: 28px; 
}

.upload > .triangle-r {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px;
  height: 0px;
  width: 0px;
  z-index: -1; /* displayed under bubble */
  position: absolute;
  right: -5px; /* -border-width */
}