<link rel="import" href="../elements/feed_entry_element.html">
<link rel="import" href="../elements/library_entry_element.html">

<polymer-element name="feed-view">
  <template>    
    <link rel="stylesheet" href="feed_view.css">
    <link rel="stylesheet" href="views/feed_view.css">
    <div class="feed">
      <div class="feed-header">
        <template repeat="{{ entry in selectedEntryInList }}">
          <template if="{{ entry != null }}">            
            <library-entry-element entry="{{ entry }}" draggable="true"
              cssStyle="padding: 5px 5px 5px 15px; border: none; color: #3c763d;"
              on-edit-entry="{{ onUpdateSelectedEntryPurpose }}"
              on-delete-entry="{{ onDeleteSelectedEntryPurpose }}"
              on-reject-topic="{{ onRejectTopicPurpose }}"
              on-unshare-entry="{{ onRejectUserPurpose }}">
            </library-entry-element>
          </template>
        </template>
      </div>
      <div class="triangle-l"></div> <!-- Left triangle -->
        
      <div class="feed-body">
        <!-- The new feed area --> 
        <div class="new-feed">
          <div class="new-feed-textarea-wrapper">
            <textarea
              class="new-feed-textarea"
              rows="4"
              placeholder="What do you have to say?"
              on-keypress="{{ onKeypress }}"
              value="{{ data }}">
            </textarea>
          </div>
          <button
            class="new-feed-button"
            on-click="{{ onAddFeedEntryPurpose }}">
            Submit
          </button>
        </div>
      
        <!-- The sort area -->
        <div class="sort-feed">
          Sorted by: &nbsp;
          <template repeat="{{ field in sortFields }}">
            <span 
              class="sort-field {{ field }}"
              on-click="{{ onSortPurpose }}"
              data-field="{{ field }}">
                {{ field }}
            </span> |
          </template>
          <!-- Filtered-by label -->
          <template if="{{ searchQuery != null && searchQuery.isNotEmpty }}">
            Filtered by: <b>{{ searchQuery }}</b>
          </template>
        </div>
      
        <div class="feed-entries">
          <div class="scroll-area">
            <template if="{{ feedEntries.values.isEmpty }}">
              <span class="empty-list">Nothing to show.</span>
            </template>
          
            <template repeat="{{ entry in feedEntries.values | filterBy(searchQuery) 
              | sortBy(selectedSortField, sortAscending)}}">
              <feed-entry-element entry="{{ entry }}"
                on-edit-feed-entry="{{ onUpdateFeedEntryPurpose }}"
                on-delete-feed-entry="{{ onDeleteFeedEntryPurpose }}">
              </feed-entry-element>
            </template>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script type="application/dart" src="feed_view.dart"></script>
</polymer-element>
