.dummy { }

.header {
  background: #fff;
}

.header > .notification-element {
  position: absolute;
  left: 0px;
  right: 30%;
  top: 0px;
  bottom: 0px; 
  margin-left: 20px; 
  padding: 5px;
}

.header > .login-element {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}