<link rel="import" href="../elements/notification_element.html">
<link rel="import" href="../elements/login_element.html">

<polymer-element name="header-view" attribute="notification">
  <template>
    <link rel="stylesheet" href="header_view.css">
    <link rel="stylesheet" href="views/header_view.css">
    <template if="{{ revealed }}">
      <div class="header">
        <notification-element class="notification-element"></notification-element>
        <login-element class="login-element"></login-element>
      </div>
    </template>
  </template>
  <script type="application/dart" src="header_view.dart"></script>
</polymer-element>