<link rel="import" href="../elements/library_entry_element.html">

<polymer-element name="library-view">
  <template>    
    <link rel="stylesheet" href="library_view.css">
    <link rel="stylesheet" href="views/library_view.css">
    <div class="library">
      <!-- Search area -->
      <div class="library-header">
        <div class="sort-library">
          Sorted by: &nbsp;
          <template repeat="{{ field in sortFields }}">
            <span 
              class="sort-field {{ field }}"
              on-click="{{ onSortPurpose }}"
              data-field="{{ field }}">
              {{ field }}
            </span> |
          </template>
          <template if="{{ searchQuery != null && searchQuery.isNotEmpty }}">
            Filtered by: <b>{{ searchQuery }}</b>
          </template>
        </div>
      </div>
      
      <!-- Library entries -->
      <div class="library-body">
        <div class="scroll-area">
          <template if="{{ entries.values.isEmpty && searchEntries.isEmpty }}">
            <span class="empty-list">Nothing to show.</span>
          </template>
        
          <template repeat="{{ entry in entries.values 
                                 | filterByTopics(selectedTopicIds)
                                 | filterByQuery(searchQuery)
                                 | sortBy(selectedSortField, sortAscending) }}">
            <library-entry-element entry="{{ entry }}" draggable="true"
              on-edit-entry="{{ onUpdateEntryPurpose }}"
              on-delete-entry="{{ onDeleteEntryPurpose }}"
              on-reject-topic="{{ onRejectTopicPurpose }}"
              on-unshare-entry="{{ onRejectUserPurpose }}">
            </library-entry-element>
          </template>
          <!-- List all search results -->
          <template repeat="{{ entry in searchEntries }}">
            <library-entry-element entry="{{ entry }}">
            </library-entry-element>
          </template>
        </div>
      </div>
    </div>
  </template>
  <script type="application/dart" src="library_view.dart"></script>
</polymer-element>
