<link rel="import" href="stage_view.html">
<link rel="import" href="display_view.html">
<link rel="import" href="welcome_view.html">

<polymer-element name="main-view">
  <template>
    <link rel="stylesheet" href="main_view.css">
    <link rel="stylesheet" href="views/main_view.css">
    <template if="{{ revealed }}">
      <div class="main">
        <div class="stage-toggle">
          <template if="{{ showStageView }}">
            <div 
              class="hide-toggle"
              title="Hide stage view."
              on-click="{{ onHideStageViewPurpose }}">
              &lsaquo;
            </div>
          </template>
          <template if="{{ !showStageView }}">
            <div 
              class="unhide-toggle"
              title="Display stage view."
              on-click="{{ onDisplayStageViewPurpose }}">
              &rsaquo;
            </div>
          </template> 
        </div>
        
        <!-- The stage view -->
        <stage-view
          class="stage-view">
        </stage-view>
        <!-- The display view -->
        <display-view
          class="display-view" 
          on-import-from-pdf="{{ onImportFromPdfPurpose }}">
        </display-view>
      </div>
    </template>
  </template>
  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>
