<link rel="import" href="../elements/input_element.html">
<link rel="import" href="library_view.html">
<link rel="import" href="references_view.html">
<link rel="import" href="feed_view.html">

<polymer-element name="stage-view">
  <template>
    <link rel="stylesheet" href="stage_view.css">    
    <link rel="stylesheet" href="views/stage_view.css">
    <div class="stage">
      <!-- The header -->
      <div class="stage-header">
        <!-- Tabs area -->
        <ul class="tabs">
          <li class="library-tab {{ libraryTabClasses }}">
            <span class="display" on-click="{{ onLibraryTabPurpose }}">
              Library
              <template if="{{ libraryActivityCount > 0 }}">
                <span class="activity-count">{{ libraryActivityCount }}</span>
              </template>
            </span>
          </li>
          <li class="references-tab {{ referencesTabClasses }}">
            <span on-click="{{ onReferencesTabPurpose }}">
              References
              <template if="{{ referencesActivityCount > 0 }}">
                <span class="activity-count">{{ referencesActivityCount }}</span>
              </template>
            </span>
          </li>
          <li class="feed-tab {{ feedsTabClasses }}">
            <span on-click="{{ onFeedTabPurpose }}">
              Feed
              <template if="{{ feedsActivityCount > 0 }}">
                <span class="activity-count">{{ feedsActivityCount }}</span>
              </template>
            </span>
          </li>
        </ul>
                  
        <!-- Search area -->
        <div class="search-stage">
          <input 
            class="search-input"
            is="input-element"
            type="search"
            placeholder="Search entries..."
            value="{{ searchQuery }}"
            on-value-update="{{ onSearchPurpose }}"
            on-cancel="{{ onCancelSearchPurpose }}">
        </div>
      </div>
      
      <!-- The body -->
      <div class="stage-body">
        <!-- The library view -->
        <library-view 
          class="library-view"
          on-activity="{{ libraryActivityHandler }}"
          on-deleted-entry="{{ entryDeletedHandler }}">
        </library-view>
        <!-- The references view -->
        <references-view
          class="references-view"
          on-activity="{{ referencesActivityHandler }}">
        </references-view>
        <!-- The feed view -->
        <feed-view
          class="feed-view"
          on-activity="{{ feedActivityHandler }}">
        </feed-view>
      </div>
    </div>
  </template>
  <script type="application/dart" src="stage_view.dart"></script>
</polymer-element>
