.dummy { }

.welcome > .features,
.welcome > .more-infos,
.welcome > .contact {
  border-radius: 3px;
  background: #fff;
  border: 1px solid #aaa;
}

.welcome div {
  margin: 10px;
}

.welcome > .features {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  bottom: 55%;
}

.welcome > .more-infos {
  position: absolute;
  top: 45%;
  left: 50px;
  right: 50%;
  bottom: 20px;
}

.welcome > .contact {
  position: absolute;
  top: 45%;
  left: 50%;
  right: 50px;
  bottom: 20px;
}

.welcome .header {
  color: #428bca;
  text-align: center;
  font-size: 15pt;
  font-weight: 500;
  margin: 15px;
}

.welcome > .features ul {
  padding: 0;
  list-style: none;
  margin-left: 10px;
}

.welcome > .features li {
  line-height: 40px;
  font-weight: bold;
  font-size: 13pt;
}

.welcome > .features li:before {
  content: '\2713\0020'; 
  font-size: 25px;
  color: green;
}

.welcome > .paper, 
.welcome > .contact {
  line-height: 20px;
  text-align: left;
}

.welcome > .paper > a {
  font-weight: bold;
}