.dummy { }

.notification {
  position: fixed;
  top: -50px;
  left: 25%;
  right: 25%;
  border: 1px solid transparent;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 30px;
  z-index: 9999;
}

.notification.notification-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  background: #dff0d8 url(../images/success.png) no-repeat 5pt 50%;
}

.notification.notification-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  background: #d9edf7 url(../images/info.png) no-repeat 5pt 50%;
  padding-left: 5px 10px;
}

.notification.notification-warn {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
  background: #faebcc url(../images/warn.png) no-repeat 5pt 50%;
}

.notification.notification-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
  background: #f2dede url(../images/error.png) no-repeat 5pt 50%;
}

.notification.notification-loading {
  color: #3a87ad;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  background: #d9edf7 url(../images/loading.gif) no-repeat 5pt 50%;
  padding-left: 5px 10px;
}

.notification > .message.clickable {
  cursor: pointer;
}

.notification > .hide-button {
  position: absolute;
  right: 0px;
  top: 2px;
  right: 2px;
  z-index: 2;  
  background: none;
  border: none;
  height: 16px;
  width: 16px;
  line-height: 16px;
  font-weight: 700;
  font-size: 19px;
  opacity: 0;
  cursor: pointer;
}

.notification:hover > .hide-button {
  opacity: .3;
}

.notification > .hide-button:hover {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.notification > .hide-button:active {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}