body {
  margin: 0px;
  background: url(images/paper.jpg) repeat;
}

.footer {
  height: 30px;
  text-align: center;
  font-size: 9pt;
  color: gray;
  margin-top: 30px;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.main {
  margin-top: 25px;
}

.main div {
  margin:auto;
  text-align:center;
  width: 50%;
}

.welcomeText {
  font-size: 16pt;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
  background-position: top center;
  background-repeat: no-repeat;
  height: 100px;
}

#iceciteHeader {
  background-image: url(images/logo_50.png);
  background-position: 50% 50%;
  margin-top: 25px;
}

#iceciteLinks table{
  margin: auto;
}

#iceciteLinks table td{
  padding: 0px 30px 0px 30px;
}

#iceciteLinks a {
  font-size: 16pt;
}

#synchroHeader {
  background-image: url(images/synchro.png);
}
