.dummy { }

.header-view {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 32px;
  right: 0px;
  box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08), 
              inset 0 1px 1px hsla(0,0%,0%,.15), 
              inset 0 -1px 0 hsla(0,0%,100%,.05), 
              0 1px 0 hsla(0,0%,0%,.15), 
              0 1px 1px hsla(0,0%,0%,.1);
  background: #4E78A0;
}

/*
.navigation-view {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 120px;
  z-index: 10;
}
*/

.main-view {
  position: absolute;
  top: 32px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.welcome-view {
  position: absolute;
  top: 32px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}