<link rel="import" href="../packages/polymer/polymer.html">
<link rel="import" href="../elements/library_entry_element.html">
<link rel="import" href="../elements/upload_element.html">

<polymer-element name="library-view">
  <template>    
    <link rel="stylesheet" href="library_view.css">
    <!-- <link rel="stylesheet" href="views/library_view.css"> -->
    <div class="library">     
      <!-- Library entries -->
      <div class="library-body">
        <div class="sort-library">
          Sort: &nbsp;
          <template repeat="{{ field in sortFields }}">
            <span 
              class="sort-field {{ field }}"
              on-click="{{ onSortRequest }}"
              data-field="{{ field }}">
              {{ field }}
            </span> |
          </template>
          <template if="{{ searchQuery != null && searchQuery.isNotEmpty }}">
            Filtered by: <b>{{ searchQuery }}</b>
          </template>
        </div>
        <div class="library-entries">      
          <div class="scroll-area">
            <template if="{{ cache.entries.isEmpty }}">
              <template if="{{ isLoading }}">
                <span class="loading"></span>
              </template>
              <template if="{{ !isLoading }}">
                <span class="empty-list">Nothing to show.</span>
              </template>
            </template>
          
             
            <template repeat="{{ entry in cache.entries
                                   | filterByTags(selectedTags)
                                   | filterByQuery(searchQuery)
                                   | sortBy(selectedSortField, sortAscending) }}">
              <!-- Make sure, that the id begins with a letter. -->
              <library-entry-element id="id-{{ entry.id }}" 
                entry="{{ entry }}" 
                on-update-request="{{ onUpdateEntryRequest }}"
                on-share-request="{{ onShareEntryRequest }}"
                on-unshare-request="{{ onUnshareEntryRequest }}"
                on-new-tags-request="{{ onAddTagsRequest }}"
                on-update-tag-request="{{ onUpdateTagRequest }}"
                on-delete-tag-request="{{ onDeleteTagRequest }}"
                on-add-pdf-url-request="{{ onAddPdfUrlRequest }}"
                on-repeat-stripping-request="{{ onRepeatStrippingRequest }}">
              </library-entry-element>
            </template>
            <!-- List all search results -->
            <!-- <template repeat="{{ entry in cache.searchEntries }}">
              <library-entry-element id="id-{{ entry.id }}" 
                entry="{{ entry }}" 
                on-update-request="{{ onUpdateEntryRequest }}"
                on-delete-request="{{ onDeleteEntryRequest }}"
                on-share-request="{{ onShareEntryRequest }}"
                on-unshare-request="{{ onUnshareEntryRequest }}"
                on-new-tags-request="{{ onAddTagsRequest }}"
                on-update-tag-request="{{ onUpdateTagRequest }}"
                on-delete-tag-request="{{ onDeleteTagRequest }}">
              </library-entry-element>
            </template> -->
          </div>
        </div>
      </div>
    </div>
  </template>
  <script type="application/dart" src="library_view.dart"></script>
</polymer-element>
